.AboutMasterClass {
  padding: 100px 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;

    .left {
      display: flex;

      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      max-width: 880px;
      width: 100%;
      h3 {
        font-size: clamp(10px, 4vw, 16px);
        font-weight: 400;
        line-height: 20px;
        color: #fff;
      }
      h1 {
        font-size: clamp(26px, 4vw, 36px);
        font-weight: 700;
        color: #fff;
        line-height: 44px;
      }
      p {
        max-width: 740px;
        width: 100%;
        font-size: clamp(10px, 4vw, 20px);
        font-weight: 400;
        line-height: 24px;
      }
      .left_bottom {
        margin-top: 60px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 30px;
        h4 {
          font-size: clamp(10px, 4vw, 20px);
          font-weight: 600;
          line-height: 24px;
          color: #fff;
        }
        ul {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          padding-left: 20px;
          li {
            font-size: clamp(10px, 4vw, 20px);
            font-weight: 400;
            line-height: 24px;
            color: #fff;
          }
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        button {
          padding: 15px 25px;
          background: #043c71;
          color: white;
          font-size: 16px;
          font-weight: 500;
          border: none;
          border-radius: 5px;
          &:hover {
            background: none !important;
            border: 1px solid #043c71;
            cursor: pointer;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 60px;
      h2 {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 24px;
        flex-direction: column;
        font-size: clapm(10px, 4vw, 20px);

        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        span {
          font-size: clapm(10px, 4vw, 20px);

          font-weight: 400;
        }
      }
      h3 {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 24px;
        flex-direction: column;
        font-size: clapm(10px, 4vw, 20px);
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        span {
          font-size: clapm(10px, 4vw, 20px);

          font-weight: 400;
        }
      }
    }
  }
}
