.InfoAboutus {
  .mainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    .breatcrums {
      margin-top: 140px;
      margin-left: -75pc;
      p {
        text-align: right;
      }
      span {
        color: rgb(165, 165, 165);
      }
    }
    .mainTextInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        text-align: center;
        margin-bottom: 40px;
      }

      .descr {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 60px;
        p {
          width: 60%;
          text-align: center;
        }
      }
      .textImg {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        img {
          width: 40%;
          height: 371px;
        }
      }
    }

    .mainSertificat {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 80px;
      h2 {
        text-align: center;
        margin-bottom: 40px;
      }
      p {
        text-align: center;
      }
      .imgSer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .InfoAboutus {
    margin-top: 50px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 100%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .InfoAboutus {
    margin-top: 50px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 100%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}


@media (max-width: 412px) {
  .InfoAboutus {
    margin-top: 50px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 100%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .InfoAboutus {
    margin-top: 50px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 100%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .InfoAboutus {
    margin-top: 50px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 100%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .InfoAboutus {
    margin-top: 50px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 70%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
         flex-direction: column;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .InfoAboutus {
    margin-top: 90px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 100%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
         
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .InfoAboutus {
    margin-top: 90px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 100%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
         
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .InfoAboutus {
    margin-top: 120px;
    .mainInfo {
      gap: 20px;
      .breatcrums {
        display: none;
      
      }
      .mainTextInfo {
        h2 {
          text-align: center;
          margin-bottom: 20px;
          font-size: 30px;
        }
        .descr {
          gap: 10px;
          margin-bottom: 20px;
          p {
            width: 70%;
            font-size: 15px;
          }
        }
        .textImg {
          gap: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
         
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .mainSertificat {
        margin-bottom: 40px;
        margin-top: 30px;
        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          text-align: center;
          font-size: 15px;
        }
        .imgSer {
          margin-top: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {

  .InfoAboutus {
    .mainInfo {
      .breatcrums {
        margin-left: -65pc;
      }
    }
  }
}



