.Footer {
  padding: 100px 0 20px 0;

  .content {
    display: flex;
    // flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
      max-width: 150px;
    }

    .languageSwitch {
      display: flex;
      margin-top: 10px;

      button {
        background: none;
        border: 1px solid white;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .links {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;
      display: flex;
      gap: 5px;
      &:hover {
        color: #3498db;
      }
    }
  }

  .socials {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 130px;
    .socialIcons {
      font-size: 1.5rem;
      color: white;
      display: flex;

      flex-wrap: wrap;
      gap: 10px;
      a {
        color: white;
        transition: color 0.3s;

        &:hover {
          color: #3498db; // Цвет при наведении
        }
      }
    }
  }

  .contacts,
  .address {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .email,
    .phone,
    .location,
    .code {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      svg {
        margin-right: 10px;
      }
    }
  }
}
