#Reactivity {
    padding: 50px;
    padding-top: 100px;
  
    .reactivity {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .reactive_text {
        p {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          span {
            color: #9099a3;
          }
        }
      }
  
      .react_block {
        display: flex;
        justify-content: space-between;
        width: 980px;
        .react_box {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h1 {
            font-family: Montserrat;
            font-size: 36px;
            font-weight: 700;
            line-height: 43.88px;
          }
          p {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            width: 435px;
          }
        }
        .react_box2 {
          display: flex;
          gap: 20px;
  
          h3 {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            span {
              font-family: Poppins;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
            }
          }
        }
      }
      .youtube {
        display: flex;
        justify-content: space-between;
        .youtube_box {
          iframe {
            border-radius: 10px;
            background: #1b295925;
          }
        }
        .youtube_box2 {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .tabButton {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 10px;
          }
  
          .activeButton {
            background: #1b295966;
            color: white;
          }
          button {
            display: flex;
            text-align: start;
            align-items: center;
            padding: 10px;
            background: #3c488a;
            border-radius: 5px;
            gap: 10px;
            span {
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 19.5px;
              color: #a5a5a5;
            }
          }
          .buttons {
            display: flex;
            gap: 30px;
            .prew {
              padding: 10px 30px;
              font-family: Montserrat;
              font-size: 15px;
              font-weight: 600;
              line-height: 18.29px;
              border-radius: 10px;
              background: #ffffff;
              color: #000;
              text-align: center;
            }
            .next {
              padding: 10px 30px;
              font-family: Montserrat;
              font-size: 15px;
              font-weight: 600;
              line-height: 18.29px;
              border-radius: 10px;
              background: #ffffff;
              color: #000;
              text-align: center;
            }
          }
        }
      }
      .text_end {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        h3 {
          width: 615px;
          font-size: 20px;
          font-family: Montserrat;
          font-weight: 600;
          line-height: 24.38px;
        }
        li {
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 400;
          line-height: 24.38px;
        }
      }
      .text_end2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        h3 {
          width: 615px;
          font-size: 20px;
          font-family: Montserrat;
          font-weight: 600;
          line-height: 24.38px;
        }
        li {
          // width: 181px;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 400;
          line-height: 24.38px;
        }
      }
    }
  }
  