.ProcessOfMaster {
  padding: 100px 0;
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    @media (max-width: 1150px) {
      justify-content: center;
    }
    .left {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      .left_text {
        max-width: 770px;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        h1 {
          font-size: clamp(26px, 6vw, 36px);
          font-weight: 700;
          line-height: 44px;
          color: white;
        }
        p {
          font-size: clamp(10px, 4vw, 20px);
          font-weight: 400;
          line-height: 24px;
        }
      }
      .cards {
        max-width: 700px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @media (max-width: 1150px) {
          align-items: center;
          justify-content: center;
        }
        .card {
          max-width: 300px;
          height: 300px;
          width: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 84, 160, 0.2) 0%,
            rgba(0, 11, 48, 0.2) 100%
          );
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          gap: 20px;
          padding: 0 20px;
          border-radius: 10px;
          h2 {
            font-size: 36px;
            font-weight: 700;
            line-height: 44px;
            color: white;
            margin: 0;
          }
          h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: white;
            margin: 0;
          }
          p {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: white;
            margin: 0;
          }
        }
      }
    }
    .right {
      .buyCard {
        background: white;
        max-width: 400px;
        height: 470px;
        width: 100%;
        // height: 100%;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        h1 {
          max-width: 300px;
          width: 100%;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          color: black;
        }
        h2 {
          margin-right: 140px;
          font-size: 36px;
          font-weight: 700;
          line-height: 44px;
          color: black;
        }
        ul {
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: center;
          gap: 15px;
          li {
            list-style: none;
            display: flex;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: black;
            display: flex;
            align-items: start;
            gap: 10px;
            span {
              font-size: 18px;
            }
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            padding: 20px 40px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            border: none !important;
            background: #044076;
            color: white;
          }
        }
      }
    }
  }
}
