.Header {
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 999;
    border: none;
    background-color: rgba(10, 17, 40, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.logo {
    width: 80px;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navsBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 70px;
    justify-content: flex-start;
}

.navs {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-2px);
    }
}

.auth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signUp {
    cursor: pointer;

    background: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
    padding: 17px 30px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-2px);
    }
}

.follow {
    cursor: pointer;
    background: rgba(3, 64, 120, 1);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
    border-radius: 10px;
    padding: 17px 60px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-2px);
    }
}
@media (max-width: 1280px) {
    .Header {
        height: 90px;
    }
    .navsBlock {
        gap: 45px;
        padding: 0 50px;
    }

    .logo {
        width: 70px;
        height: 100%;
    }

    .navs {
        gap: 35px;
    }

    .nav {
        font-size: 15px;
        font-weight: 500;
    }

    .signUp {
        font-weight: 500;
        font-size: 15px;
        padding: 16px 29px;
    }

    .follow {
        font-weight: 500;
        font-size: 15px;
        padding: 16px 58px;
    }
}

@media (max-width: 850px) {
    .Header {
        height: 80px;
    }
    .logo {
        width: 60px;
        height: 100%;
    }
    .navsBlock {
        gap: 35px;
        padding: 0 30px;
    }

    .navs {
        gap: 25px;
    }

    .nav {
        font-size: 13px;
        font-weight: 400;
    }

    .signUp {
        font-weight: 400;
        font-size: 13px;
        padding: 13px 25px;
    }

    .follow {
        font-weight: 400;
        font-size: 13px;
        padding: 13px 44px;
    }
}

@media (max-width: 680px) {
    .Header {
        height: 70px;
    }
    .logo {
        width: 50px;
        height: 100%;
    }
    .navsBlock {
        gap: 15px;
        padding: 0 20px;
    }

    .navs {
        gap: 15px;
    }

    .nav {
        font-size: 12px;
        font-weight: 300;
    }

    .signUp {
        font-weight: 300;
        font-size: 12px;
        padding: 11px 21px;
    }

    .follow {
        font-weight: 300;
        font-size: 12px;
        padding: 10px 40px;
    }
}
