.Header {
    position: fixed;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 999;
    border: none;
    background-color: rgba(10, 17, 40, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navsBlock {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0 70px;
        justify-content: flex-start;
    }

    .navs {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .nav {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: center;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-2px);
        }
    }

    .auth {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .signUp {
        background: none;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        text-align: center;
        padding: 17px 30px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-2px);
        }
    }

    .follow {
        background: rgba(3, 64, 120, 1);
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        text-align: center;
        border-radius: 10px;
        padding: 17px 60px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-2px);
        }
    }
}

@media (max-width: 1280px) {
    .navsBlock {
        gap: 45px;
    }

    .navs {
        gap: 35px;
    }

    .nav {
        font-size: 15px;
        font-weight: 500;
    }

    .signUp {
        font-weight: 500;
        font-size: 15px;
        padding: 16px 29px;
    }

    .follow {
        font-weight: 500;
        font-size: 5px;
        padding: 16px 58px;
    }
}

@media (max-width: 1230px) {
    /* styles */
}

@media (max-width: 1180px) {
    /* styles */
}

@media (max-width: 1130px) {
    /* styles */
}

@media (max-width: 1080px) {
    /* styles */
}

@media (max-width: 1030px) {
    /* styles */
}

@media (max-width: 980px) {
    /* styles */
}

@media (max-width: 930px) {
    /* styles */
}

@media (max-width: 850px) {
    /* styles */
}

@media (max-width: 800px) {
    /* styles */
}

@media (max-width: 770px) {
    /* styles */
}

@media (max-width: 740px) {
    /* styles */
}

@media (max-width: 700px) {
    /* styles */
}

@media (max-width: 660px) {
    /* styles */
}

@media (max-width: 630px) {
    /* styles */
}

@media (max-width: 600px) {
    /* styles */
}

@media (max-width: 550px) {
    /* styles */
}

@media (max-width: 500px) {
    /* styles */
}

@media (max-width: 470px) {
    /* styles */
}

@media (max-width: 440px) {
    /* styles */
}

@media (max-width: 400px) {
    /* styles */
}

@media (max-width: 380px) {
    /* styles */
}
