.notify {
  padding: 150px 0;
  @media (max-width: 767px) {
    padding: 100px 0;
    .homeNav {
      display: none;
    }
    .nav {
      display: none;
    }
  }
  .homeNav {
    color: rgb(175, 172, 172);
    margin-right: 5px !important;
  }
  .nav {
    color: rgb(255, 254, 254);
    margin-right: 5px !important;
  }

  .content {
    h1 {
      font-size: clamp(30px, 4vw, 36px);
      font-weight: 700;
      line-height: 44px;
      color: #fff;
    }
    .cards {
      .card {
        max-width: 770px;
        width: 100%;
        height: auto;
        padding: 20px;
        background: #1b295966;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-wrap: wrap;
        border-radius: 10px;
        gap: 10px;
        a {
          font-size: 36px;
          font-weight: 500;
          margin-top: 10px;
        }
        .text {
          display: flex;
          align-items: start;
          justify-content: center;
          flex-direction: column;
          h2 {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            color: #fff;
          }
          p {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            color: #fff;
          }
        }
      }
    }
  }
}
