.CourseInfo {
    padding: 140px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.courseDetInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 200px;
}

.info {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.name {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    text-align: left;
}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.access {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accessTitle,
.includeTitle {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
}

.accessInfo,
.includeText {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: left;
}

.text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    margin: 0;
}

@media (max-width: 1280px) {
    .content {
        gap: 50px;
    }

    .course {
        gap: 150px;
    }

    .info {
        width: 700px;
        gap: 35px;
    }

    .name {
        font-size: 35px;
    }

    .button {
        padding: 19px;
        font-size: 15px;
        width: 253px;
        height: 65px;
    }

    .advantages {
        gap: 40px;
    }

    .accessTitle,
    .includeTitle {
        padding: 8px 0;
        font-size: 19px;
    }

    .accessInfo,
    .includeText {
        font-size: 19px;
    }

    .text {
        font-size: 19px;
    }
}

@media (max-width: 1080px) {
    .content {
        gap: 40px;
    }

    .course {
        gap: 120px;
    }

    .info {
        width: 600px;
        gap: 30px;
    }

    .name {
        font-size: 33px;
    }

    .advantages {
        gap: 30px;
    }

    .accessTitle,
    .includeTitle {
        padding: 7px 0;
        font-size: 17px;
    }

    .accessInfo,
    .includeText {
        font-size: 17px;
    }

    .text {
        font-size: 17px;
    }
}

@media (max-width: 950px) {
    .content {
        gap: 30px;
    }

    .course {
        gap: 110px;
    }

    .info {
        width: 500px;
        gap: 25px;
    }

    .name {
        font-size: 31px;
    }

    .button {
        padding: 16px;
        font-size: 12px;
        width: 213px;
        height: 55px;
    }

    .advantages {
        gap: 20px;
    }

    .accessTitle,
    .includeTitle {
        padding: 6px 0;
        font-size: 15px;
    }

    .accessInfo,
    .includeText {
        font-size: 15px;
    }

    .text {
        font-size: 15px;
    }
}

@media (max-width: 770px) {
    .content {
        gap: 20px;
    }

    .course {
        gap: 90px;
    }

    .info {
        width: 400px;
        gap: 20px;
    }

    .name {
        font-size: 29px;
    }

    .advantages {
        gap: 10px;
    }

    .accessTitle,
    .includeTitle {
        padding: 5px 0;
        font-size: 13px;
    }

    .accessInfo,
    .includeText {
        font-size: 13px;
    }

    .text {
        font-size: 13px;
    }
}

@media (max-width: 630px) {
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .course {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .info {
        width: 100%;

        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    /* styles */
}

@media (max-width: 550px) {
    /* styles */
}

@media (max-width: 500px) {
    /* styles */
}

@media (max-width: 470px) {
    /* styles */
}

@media (max-width: 440px) {
    /* styles */
}

@media (max-width: 400px) {
    /* styles */
}

@media (max-width: 380px) {
    /* styles */
}
