.SecondLearnProcess {
    padding: 50px 0 100px 0;
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .title {
            color: white;
            font-size: 36px;
            margin: 0;
            font-weight: 700;
            line-height: 43.88px;
            text-align: left;
        }
        .blocks {
            display: flex;
            flex-direction: row;
            gap: 40px;
            justify-content: center;
            .block {
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                background: linear-gradient(
                    to bottom,
                    rgb(2, 50, 92),
                    rgba(2, 41, 75, 0.105)
                );
                border: 2px solid rgb(4, 77, 141);
                .number {
                    color: white;
                    font-size: 28.36px;
                    margin: 0;
                    padding: 20px 0 0 0;
                    font-weight: 700;
                    line-height: 24.57px;
                    text-align: left;
                }
                .blockTitle {
                    color: white;
                    margin: 0;
                    padding: 40px 0 0 0;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24.38px;
                    text-align: left;
                }
                .text {
                    color: white;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28.29px;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .SecondLearnProcess {
        .content {
            .title {
                font-size: 34px;
            }
            .blocks {
                gap: 30px;
                .block {
                    padding: 20px;
                    .number {
                        font-size: 26px;
                    }
                    .blockTitle {
                        font-size: 18px;
                    }
                    .text {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1030px) {
    .SecondLearnProcess {
        .content {
            .title {
                font-size: 32px;
            }
            .blocks {
                gap: 30px;
                .block {
                    padding: 20px;
                    .number {
                        padding: 10px 0 0 0;
                        font-size: 24px;
                    }
                    .blockTitle {
                        padding: 30px 0 0 0;
                        font-size: 16px;
                    }
                    .text {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .SecondLearnProcess {
        .content {
            .title {
                font-size: 36px;
            }
            .blocks {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                .block {
                    padding: 30px;
                    border: 2px solid rgb(4, 77, 141);
                    .number {
                        color: white;
                        font-size: 28.36px;
                        margin: 0;
                        padding: 20px 0 0 0;
                    }
                    .blockTitle {
                        padding: 40px 0 0 0;
                        font-size: 20px;
                    }
                    .text {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 630px) {
    .SecondLearnProcess {
        .content {
            .title {
                font-size: 36px;
            }
            .blocks {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .block:nth-child(odd) {
                    margin-right: auto;
                }
                .block {
                    width: 70%;
                    padding: 30px;
                    border: 2px solid rgb(4, 77, 141);
                    .number {
                        color: white;
                        font-size: 28.36px;
                        margin: 0;
                        padding: 20px 0 0 0;
                    }
                    .blockTitle {
                        padding: 40px 0 0 0;
                        font-size: 20px;
                    }
                    .text {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
